/* .pagination {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 100px;
}
.pagination button {
  width: 80px;
  background-color: #3874ff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.pagination p {
  display: inline-block;
  border: 1px solid #3874ff;
  width: 25px;
  text-align: center;
  border-radius: 5px;
}
.disabled {
  opacity: 0.3;
}
.selected {
    background-color: #3874ff;
} */

.pagination {  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  margin: 20px 0;  
}  

.pagination button {  
  margin: 0 5px;  
  padding: 10px 15px;  
}  

.pagination button:disabled {  
  background-color: #ccc;  
  cursor: not-allowed;  
}  

.active {  
  background-color: #3874ff;  
  color: white;  
}